---
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: false
IndentPPDirectives: None

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: false
SpacesInParentheses: false
SpacesInContainerLiterals: false

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

BinPackArguments: false
BinPackParameters: false

AlignOperands: DontAlign
AlignTrailingComments: true

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
FixNamespaceComments: false
ReflowComments: false
---
BasedOnStyle: LLVM
Language: ObjC

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: false
IndentPPDirectives: None

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: false
SpacesInParentheses: false
SpacesInContainerLiterals: false

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

BinPackArguments: false
BinPackParameters: false

AlignOperands: DontAlign
AlignTrailingComments: true

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
FixNamespaceComments: false
ReflowComments: false
